<!-- Hamburger Nav -->
      <div class="mobile-nav">
        <div class="menu-btn" id="menu-btn">
    	     <div></div>
    	      <span></span>
    	      <span></span>
    	      <span></span>
            </div>

            <div class="responsive-menu">
              <ul>
                <li>
                  <%= form_tag('/profile', method: :get) do %>
                  <%= submit_tag "Profile"%>
                  <% end %>
                </li>
                <li>
                  <%= form_tag('/log_out', method: :delete) do %>
                  <%= submit_tag "Log-Out"%>
                  <% end %>
                </li>
              </ul>
            </div><!-- responsive-menu end -->
      </div>
