<html>
<head>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper">
    <div class="left-nav"><h1>TriviaBase</h1></div>
    <!-- QUESTION FIELD -->
    <div id="question-container">
      <h2 id='question-h2'>Why is a Raven like a writing desk?</h2>
      <ul id='answers'>
        <li class='question-li'>one</li>
        <li class='question-li'>two</li>
        <li class='question-li'>three</li>
        <li class='question-li'>four</li>
      </ul>
      <button type="button" value="new question" id="new-question">New Question</button>
    </div>
    <!-- QUESTION FIELD -->

    <!-- CHAT MARKUP -->
    <div class="chat-demo-container">
      <header>TriviaBase Chat</header>

      <div class='example-chat-toolbar'>
        <label for="nameInput">Username:</label>
        <input type='text' id='nameInput' placeholder='enter a username...'>
      </div>

      <ul id='example-messages' class="example-chat-messages"></ul>

      <div id ="chat-input">
        <input type='text' id='messageInput'  placeholder='Type a   message...'>
      </div>

    </div>
    <!-- CHAT MARKUP -->
  </div>
</body>
</html>
