<h1>All the Users</h1>

  <%= render partial: 'navigation'%>

  <h2>Improper cridentials</h2>

<!-- <ul>

  <% @users.each do |user|%>
    <li>
      <%= user.username %>
    </li>
  <% end %>

</ul> -->
