
<div class='row'>
  <div class='sixteen columns' style='background-color: red'>
    Home - Stuff - Great
  </div>
</div>


<div class='row'>

  <span class='two columns' style='background-color: blue'>
    Data about the game
  </span>

  <span class='seven columns' style='background-color: yellow'>
    <h3>Quetions</h3>
    <ul>
      <li>Answer</li>
      <li>Answer</li>
      <li>Answer</li>
      <li>Answer</li>
    </ul>
    <button type="button" name="button">Submit</button>
  </span>

  <span class='three columns' style='background-color: green'>
    <h3>ChatRoom</h3>
    <ul>
      <li>Data</li>
      <li>Data</li>
      <li>Data</li>
    </ul>
  </span>


</div>


<div class="row">

  <span class='footer sixteen columns' style='background-color: green'>
    Footer informations
  </span>

</div>
