/*-_-_-_-_-_-_-_- PAGE -_-_-_-_-_-_-_-*/

body{
  background-image: url("https://meganstorrs2014.files.wordpress.com/2014/01/broken-glass.jpg");
  background-size:cover;
}
#wrapper{
  // border:2px green dashed;
  height:700px;
  width:100%;
}

/*-_-_-_-_-_-_-_- LEFT COLUM -_-_-_-_-_-_-_-*/

h1{
  font-family: 'Pacifico', cursive;
  font-weight:300;
  font-size:30px;
  text-align:center;
}
//         ----- Left-nav Container -----
.left-nav{
  background-color: rgba(122, 186, 67, 0.69);
  border-radius: 30px;
  // border:2px white dashed;
  width:15%;
  margin:2px;
  height:100%;
  float: left;
  -webkit-box-shadow: 0px 7px 161px 60px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 7px 161px 60px rgba(0,0,0,0.44);
  box-shadow: 0px 7px 161px 60px rgba(0,0,0,0.44);
}
/*-_-_-_-_-_-_-_- QUESTION FIELD -_-_-_-_-_-_-_-*/

// ----- Questions Container -----
#question-container {
  padding: 50px;
  width: 49%;
  position: relative;
  float: left;
}
#question-h2{
  background-color: rgb(193, 227, 211);
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 2px;
  margin-right:2px;
  border: 2px rgba(107, 144, 88, 0.17) solid;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 7px 161px 20px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 7px 161px 20px rgba(0,0,0,0.44);
  box-shadow: 0px 7px 161px 20px rgba(0,0,0,0.44);
}
.question-li{
  background-color: rgba(193, 227, 211, 0.41);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 22px;
  list-style-type: none;
  border: 2px rgba(107, 144, 88, 0.17) solid;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 7px 161px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 7px 161px 0px rgba(0,0,0,0.44);
  box-shadow: 0px 7px 161px 0px rgba(0,0,0,0.44);
}
.answer-selected{
  background-color:green;
}
/*-_-_-_-_-_-_-_- CHAT MARKUP -_-_-_-_-_-_-_-*/

header {
  line-height: 30px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  text-align: center;
}
#example-messages {
  background-color: rgba(225, 234, 218, 0.43);
  margin: 5px;
  border-radius: 20px;
  border: 2px rgb(95, 162, 88) solid;
  overflow: scroll;
  position: relative;
  align-content: center;
  max-height:50%;
  padding: 5px 15px;
  -webkit-box-shadow: 0px 7px 161px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 7px 161px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 7px 161px 0px rgba(0, 0, 0, 0.44);
}
#messageInput {
  width: 100%;
  border-radius: 6px;
}
#chat-input {
  margin: 0 auto;
  width: 90%;
}
#nameInput {
  border-radius: 6px;
}
//   ----------Chat Container---------
.chat-demo-container {
  padding: 0px 10px 0px;
  background-color: rgba(122, 186, 67, 0.69);
  position: relative;
  height: 100%;
  width: 25%;
  margin: 2px;
  float: left;
  border-radius: 30px;
  -webkit-box-shadow: 0px 7px 161px 60px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 7px 161px 60px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 7px 161px 60px rgba(0, 0, 0, 0.44);
}
.chat-message {
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.example-chat-toolbar {
  line-height: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
}
.example-chat-username {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

/*-_-_-_-_-_-_-_- END -_-_-_-_-_-_-_-*/
/*
  * This is a manifest file that'll be compiled into application.css, which will include  all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets,  vendor/assets/stylesheets,
  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a  relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the   bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any   styles
  * defined in the other CSS/SCSS files in this directory. It is generally better to  create a new
  * file per style scope.
  *
  *= require_tree .
  *= require_self
  */
