body{
background-image: url("https://meganstorrs2014.files.wordpress.com/2014/01/broken-glass.jpg");
background-size:95%;
}

#wrapper{
  border:2px green dashed;
  height:800px;
  width:100%;
}
/*-_-_-_-_-_-_-_- LEFT COLUM -_-_-_-_-_-_-_-*/
h1{
  font-family: 'Pacifico', cursive;
  font-weight:300;
  font-size:30px;
  text-align:center;
}
.left-nav{
  // border:2px white dashed;
  width:20%;
  height:100%;
  float: left;
}
/*-_-_-_-_-_-_-_- QUESTION FIELD -_-_-_-_-_-_-_-*/

#question-h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding: 2px;
  margin-right:2px;
  border:2px black solid;
  text-align: center;
  border-radius: 45px;
}
#question-container{
  width:50%;
  // border:2px white dashed;
  position:relative;
  float:left;
}
.question-li{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  list-style-type: none;
  border: 2px black solid;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  border-radius: 45px;
}


/*-_-_-_-_-_-_-_- CHAT MARKUP -_-_-_-_-_-_-_-*/

header{
  font-family: 'Pacifico', cursive;
  font-size:25px;
  text-align:center;
}
#example-messages {
  border-radius: 20px;
  border: 2px black solid;
  overflow: scroll;
  position: relative;
  align-content: center;
  height: auto;
  padding: 5px 15px;
}
#messageInput{
  width:100%;
}
#chat-input{
  width: 100%;
}
.chat-demo-container{
  padding:10px;
  background-color: rgba(122, 186, 67, 0.69);
  position: relative;
  height: 100%;
  width: 25%;
  margin: 2px;
  float: right;
  border-radius: 45px;
  // border: 2px white dashed;
}
.chat-message{
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.example-chat-toolbar{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.example-chat-username{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}














/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
